.award .nav-pills {
  /* border-bottom: 1px solid rgba(var(--primary-color-rgb), 0.2); */
}
.award .nav-pills li + li {
  margin-left: 8px;
}
.award .nav-link {
  cursor: pointer;
  display: inline-block;
  padding: 10px 25px 10px 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  color: #555555;
  transition: all 0.3s ease-in-out;
  margin: 0 4px 10px 4px;
  background: whitesmoke;
  border-radius: 4px;
  text-align: center;
}
.award .nav-link h4 {
  color: #1f1e1e;
  font-family: var(--Bangla-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
}
.award .nav-link.active {
  background: var(--primary-color);
  color: #fff !important;
}
.award .nav-link.active h4 {
  color: #fff !important;
}
.award .award-card {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  padding-bottom: 21px;
  padding-top: 21px;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.award .award-card img {
  width: 140px;
  height: 140px;
  border-radius: 9999px;
  border: 3px solid #e5e7eb;
}
.award .award-card .award-card-content {
  margin-top: 0.75rem;
  padding-left: 8px;
  padding-right: 8px;
}
.award .award-card .award-card-content h4 {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.award .award-card .award-card-content h5 {
  font-size: 17px;
  font-weight: 600;
  /* color: #e66f3c; */
  color: var(--primary-color);
}
.award .award-card .award-card-content p {
  margin-bottom: 0px;
  color: var(--text-secondary-color);
  font-size: 15px;
  line-height: 1.25rem;
  font-weight: 500;
}
